body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-layout-sider {
  height: 100vh;
}

.ant-layout-header span svg {
  width: 25px !important;
  height: 25px !important;
  margin-left: 10px !important;
}

.logo {
  font-size: 16px !important;
  text-align: center !important;
}

.logo h2 {
  color: white;
}

.ant-layout-content {
  margin-right: 0px !important;
  padding: 10px;
}

.sweet-loading {
  position: fixed !important;
  top: 30% !important;
  height: 100% !important;
  width: 100% !important;
  z-index: 999;
  text-align: center;
}

.d-flex {
  align-items: center !important;
}

.bs {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.job-div {
  border-radius: 15px !important;
}

button {
  background-color: #001529 !important;
  color: white !important;
}

.login{
  padding: 150px;
}

a{
  text-decoration: none;
}

input, .ant-input, .ant-select {
  /* border: 1px solid #001529 !important; */
  box-shadow: none !important;
}

.ant-message {
  z-index: 9999 !important;
}