.home{
display: flex;
  .homeContainer {
    flex: 6;

    .widgets, .charts{
      display: flex;
      gap: 20px;
      margin-right: 20px;
      padding: 20px;
    }

    .charts {
      padding: 5px 20px;
    }

    .listContainer {
      box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
      padding: 20px;
      margin: 20px;

      .listTitle {
        color: gray;
        margin-bottom: 15px;
        font-weight: 500;
      }
    }
  }
}